[loggers]
keys=root, create_spark , validate , ingest

[handlers]
keys=consolHandler , fileHandler

[formatters]
keys=sampleFormatter

[logger_root]
level = DEBUG
handlers = consolHandler , fileHandler

[logger_create_spark]
level = INFO
handlers = fileHandler
qualname = create_spark
propogate = 0

[logger_validate]
level =WARN
handlers = fileHandler
qualname = validate
propogate = 0

[logger_ingest]
level = WARN
handlers = fileHandler
qualname = ingest
propogate = 0


[handler_consolHandler]
class = StreamHandler
level = DEBUG
formatter = sampleFormatter
args = (sys.stdout,)

[handler_fileHandler]
class = logging.FileHandler
level = DEBUG
formatter = sampleFormatter
args = ('application.log',)

[formatter_sampleFormatter]
format = %(asctime)s - %(name)s - %(levelname)s - %(message)s

